body, html {
  margin: 0;
  padding: 0;
}

.custom_modal {
  top: 50%;
  left: 50%;
  outline: none;
  padding: 25px;
  overflow: auto;
  position: fixed;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: rgb(236, 233, 233);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 30%;
  width: 20%;
}

.custom_overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(88, 88, 88, 0.78);
}
