/* .MuiSvgIcon-root {
  margin-right: 50%;
} */

/* #noti {
  height: 300px;
  margin-right: 30px;
}

.MuiButtonBase-root {
  size: 30px; */

/* .noti {
  height:300px;
  width: 20%;
  color: rgb(0, 0, 0);
  margin-left: 200px;
} */

/* .MuiButtonBase-root {
  padding: 19px;
} */

.MuiIconButton-root {
  padding: 15px;
}

/* .MuiIconButton-root {
  padding: 25px !important;
} */

.container {
  display: flex;
}

.item {
  height: 300px;
  width: 300px;
}

/* .makeStyles-formControl-43 {
  margin: 30px;
} */

/* ul.MuiList-root.MuiMenu-list.MuiList-padding {
  top: 30%;
  left: 5%;
} */

/* .MuiFormControl-root.makeStyles-formControl-28 {
  display: none;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  top: 31% !important;
  left: 6% !important;
} */

div#panel1a-header {
  background: rgb(255, 255, 255);
  border-width: 0px;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.MuiPaper-elevation1 {
  box-shadow: 0px !important;
  box-shadow: none !important;
}

.MuiPaper-root.MuiAccordion-root.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded {
  box-shadow: none !important;
  margin-right: 25%;
}

.MuiTypography-root.makeStyles-heading-28.MuiTypography-body1 {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.ASDF {
  height: 20px;
}

/* .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
  padding-top: 20px;
} */

.MuiListItem-button:hover {}

div#spacer1 {
  height: 72px;
}

.makeStyles-appBarShift-20 {
  width: 100% !important;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-left: 240px;
}

.makeStyles-appBarShift-158 {
  width: 100%;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-left: 240px;
}

h1#pagename {
  font-size: 20px;
}

.makeStyles-appBarShift-276 {
  /* width: calc(100% - 240px); */
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-left: 240px;
}

/* .MuiPaper-elevation4 {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
} */

/* .MuiPaper-elevation1 {
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -ms-border-radius: 20px !important;
  -o-border-radius: 20px !important;
} */

header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  /* outline-width: 2000px !important; */
  /* outline-style:solid; */
}

.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.custom_modal {
  top: 50%;
  left: 50%;
  height: 60vh !important;
  /* outline: 200px !important; */
  /* outline-style:solid !important; */
  padding: inherit;
  position: fixed;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: transparent;
  -webkit-border-radius: 40px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 53vh;
  width: 50%;
  overflow: hidden;
}

button#close1 {
  margin-left: 530px;
  margin-bottom: 200px;
  display: flex;
  /* margin-top: 20px !important; */
  background: red;
  z-index: 199;
}

/* .MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded {} */

div#Login2 {
  height: 55vh !important;
  /* margin-top: 70px !important; */
}

/* .MuiButton-outlinedPrimary {
  display: flex;
  margin-left: 45% !important;
} */

/* .MuiBox-root.MuiBox-root-78 {
  justify-content: center !important;
  margin-top: 200px !important;
} */

div#full-width-tabpanel-0 {
  margin-top: 20px;
}

button#close1 {
  margin-right: 200px !important;
}

body {
  overflow: hidden;
}

